.mainContainer {
  max-width: 1590px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}
.divContainer {
  margin-top: 80px;
  max-height: 520px;
}
.manLogoContainer {
  display: flex;
  gap: 64px;
}
.bottomContainer {
  display: flex;
  width: 1600px;
}
