.verifyContainer {
  font-family: "Poppins", Helvetica, sans-serif;
  display: flex;
  max-width: 400px;
  height: 70px;
  flex-wrap: wrap;
  gap: 16px;
}
@font-face {
  font-family: "Poppins";
  src: url(../../../assets/Poppins-Regular.ttf);
}
