.vegetableContainer {
  font-family: "Poppins", Helvetica, sans-serif;
  height: 256px;
  display: flex;
  gap: 32px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.priceContainer {
  background-color: #f3806017;
  padding: 17px 24px 79px;
  border: 1px solid;
  border-radius: 32px;
}
.imgs {
  width: 160px;
  height: 160px;
  border: none;
  border-radius: 32px;
}
.description {
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.prices {
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.vegetableContainer:nth-child(2) .imgs {
  margin-top: 30px;
  height: 120px;
}
.vegetableContainer:hover {
  transform: scale(1.1);
}

@font-face {
  font-family: "Poppins";
  src: url(../../../assets/Poppins-Regular.ttf);
}
