.headerContainer {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: space-between;
}
.Logo {
  margin-top: 25px;
}
.mainLogo {
  max-width: 194px;
  height: 54px;
  object-fit: contain;
}

/* right side */

.registerContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.marketContainer {
  position: absolute;
  margin-top: 10px;
  cursor: pointer;
}
.dotImg {
  position: absolute;
  left: 27px;
  bottom: 33px;
}

/* right side 2 */

.signIn {
  color: #f38160;
}
.signUp {
  padding: 16px 40px;
  border-radius: 16px;
  color: #fafafa;
  background-color: #f38160;
  text-decoration: none;
  font-size: 18px;
}
.logInContainer {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: 80px;
}
